.rrp{
    text-decoration: line-through;
}

.container-grid{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 0.5em;
}

.container-grid2{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
	grid-gap: 0.5em;
}

